nav{
    height: 60px;

    
.navig{
    list-style-type: none;
    height:100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.men{

     margin-right: 10px;
     color: black;
     cursor: pointer;
}

.btn{
    display: none;
}