
body{
    background: rgb(85, 5, 5);
}
h2{
    width: 500px;
    text-align: center;
    font-size:medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    background: rgb(122, 97, 51);
    box-shadow: 0.2px 2px 3px rgba(0.0.0.1);
    color:whitesmoke;
    border-radius: 6px;
    position:relative;
    overflow: hidden;
}



/*////////ACCUEIL //////// */
.fondE1{
    background-image : url("../styles/fond1.jpg");
    background-size: cover;
    height: 100vh ;
    background-position: top center;
    background-repeat: no-repeat;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    
}

.BtnACC{
    width: 100px;
    height: 50px;
    border :none;
    color: white;
    background-color: rgb(122, 97, 51);
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #aaa568;
    transition: ease-out 0.3s;
    font-size: 2rem;
    outline: none;
    box-shadow: 0.2px 3px 4px rgba(0.0.0.1);
}

.BtnACC:hover{
    box-shadow: inset 100px 0 0 0 #aaa568;
}

/*////////ACCUEIL //////// */
/*//////////////// /* {props.movies.map((compagnie, index) => (<div className=" col-sm-4 container-fluid">
                <img src = {compagnie.logo_path} alt='movie'></img>
                </div>))} */

.ChuckN{
    height: auto;
    width: 500px;
    border-radius: 6px;
    
    background-color: rgb(85, 5, 5);
    position:relative;
    overflow: hidden;
}

.infoChuck{
    width: 500px;
    margin: 0.2rem;
    position:relative;
    overflow: hidden;
}

.ChuckN img{
    width:100%;
}

.ChuckBTN{
    width: 150px;
    height: 50px;
    border :none;
    color: white;
    background-color: rgb(122, 97, 51);
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #aaa568;
    transition: ease-out 0.3s;
    font-size: 1rem;
    outline: none;
    
}

.ChuckBTN:hover{
    box-shadow: inset 150px 0 0 0 #aaa568;
}



.imgF{
    width: 240px;
    height: 356px;
    display: block;
    border-radius: 10px 0 0 10px;
}

.InfoM{
    list-style-type: none;
}

.maxitest > row {
    display: flex;
    flex-wrap: wrap;
}


/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////PARTIE CSS POUR NEWS////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/

.p2 {
    width: 200px;
    text-align: center;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    background: rgb(85, 84, 82);
    box-shadow: 0.2px 2px 3px rgba(0.0.0.1);
    color:whitesmoke;
    border-radius: 6px;
    position:relative;
    overflow: hidden;

}
.p3 {
    width: 150px;
    text-align: center;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    
    display: flex;
    background: rgb(0, 0, 0);
    box-shadow: 0.2px 2px 3px rgba(0.0.0.1);
    color:whitesmoke;
    border-radius: 6px;
    position:relative;
    overflow: hidden;

}
.Meteo-Box{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 300px;
  margin: 1rem;
  border-radius: 6px;
  box-shadow: 0.2px 4px 5px rgba(0.0.0.1);
  background-color: rgb(224, 219, 219);
  position:relative;
  overflow: hidden;


}
.chercheT{
    display:flex;

}


/*//////////////////////////////////////////////////////////////////////*/
/*//////////////////////PARTIE CSS POUR FILMZ////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////*/

.CarteF{
    background-color: white;
    border-radius: 10px;
    width: 50%;
   
}

.InfoM{
    font-size: 20px;
}

.btnF{
    width: 100px;
    height: 50px;
    border :none;
    color: white;
    background-color: rgb(122, 97, 51);
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 #aaa568;
    transition: ease-out 0.3s;
    font-size: 1rem;
    outline: none;
}

.btnF:hover{
    box-shadow: inset 100px 0 0 0 #aaa568;
}


.carouS{
    width: 75vh;
    
}

.imgC{
    border-radius: 10px;
}

.titreG{
    margin-left: 100px;
    color: white;
}