

.fondE1{
    background-image : url("../styles/fond1.jpg");
    background-size: cover;
        background-color: rgb(0, 0, 0);
        background-position: top left;
        background-size: 100%;
        background-repeat: no-repeat;
}
/*//////////////// /* {props.movies.map((compagnie, index) => (<div className=" col-sm-4 container-fluid">
                <img src = {compagnie.logo_path} alt='movie'></img>
                </div>))} */

.ChuckN{
    width: auto;
    height: auto;
}


img{
    width: 240px;
    height: 356px;
    display: block;
}

.InfoM{
    list-style-type: none;
}

.maxitest > row {
    display: flex;
    flex-wrap: wrap;
}