body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing: border-box;
}

header{
  padding:1rem;
  display:flex;
  justify-content: flex-end;
  background-color:white;
}
.movie{
  width: 270px;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: 0.2px 4px 5px rgba(0.0.0.1);
  background-color: black;
  position:relative;
  overflow: hidden;
}

main{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie img{
  width:100%;
}

.movie-info{
  color:rgb(228, 225, 222);
  display:flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;

}

.movie-info h3{
  margin-top: 0;
}
.movie-info span{
  background-color: black;
  padding: 0.25rem 0.5rem;
  border-radius: 3px ;
  font-weight: bold;

}
.movie-info span.green{
  color:lightgreen;
}

.movie-info span.orange{
  color:orange;
}

.movie-info span.red{
  color:red;
}
 
.overview{
  position: absolute;
  left:0;
  right:0;
  bottom:0;
  background-color:whitesmoke ;
  padding:1rem;
  max-height:100%;
  transform:translateY(101%);
  transition:transform 0.3s ease-in;
}

.movie:hover .overview{
  transform:translateY(0);
}
