body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*///////////NAVIGATION STYLE//////////////*/

nav{
  height: 60px;
}
  
.navig{
  list-style-type: none;
  height:100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.men{
  text-decoration: none;
   margin-right: 10px;
   color: black;
   cursor: pointer;
}

.btn{
  display: none;
}

@media screen and (max-width: 500px){
   
  .navig{flex-direction: column;
    height: 200px;
    margin:0;
    padding: 0;
    }

  .men:nth-child(1){
    border-top: 1px solid #333;
    margin-top: 100px;
 }
  .men{
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #333;
    line-height: 50px;
    text-align: center;
  }
  .btn{
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    height: 50px;
    width: 50px;
  }
}